@keyframes console {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.js-anima-scroll{
    opacity: 0;
    transform: translateX(-2rem);
    transition: .6s;
}

.js-anima-scroll.ativo{
    opacity: 1;
    transform: translateX(0rem);
}