.skils {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.skils img {
    display: none;
}


.windows95-card {
    max-width: 600px;
    min-height: 300px;
    background-color: #1A1A1A;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    margin-bottom: 2rem;
}

.windows95-title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem;
    background-color: #141414;

}

.windows95-buttons {
    display: flex;
}

.windows95-close-button,
.windows95-maximize-button,
.windows95-minimize-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    background-color: white;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.windows95-content {
    padding: 1.75rem;
    color: #80b918;
    letter-spacing: 2px;
}



.windows95-content p mark {
    font-weight: bold;
    animation: marker 2s infinite alternate ease-in-out;
}



.windows95-content p::before {
    content: "$";
    color: white;
}


.windows95-content p::after {
    content: "|";
    animation: console .6s infinite alternate;
}